@model Todos

@{
    ViewData["Title"] = "Sửa công việc";
}


<form class="w-50 d-flex flex-column gap-2" method="post" asp-action="UpdateJob" asp-controller="Job">
    <div class="mb-3 d-flex flex-column">
        <label for="jobInput" class="form-label" asp-for="Job">Công việc</label>
        <input type="hidden" asp-for="Id">
        <input type="text" class="form-control" id="jobInput" placeholder="Tên công việc" asp-for="Job">
        <span asp-validation-for="Job" class="text-danger"></span>

        <label for="statusJob" class="form-label mt-2" asp-for="IsDone">Trạng thái</label>
        <select class="form-select" asp-for="IsDone">
            <option value="true">Đã xong</option>
            <option value="false">Chưa xong</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Sửa</button>
    <a type="button" class="btn btn-outline-danger" asp-controller="Job" asp-action="Index">Quay lại</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

