@model TodoModel

@{
    ViewData["Title"] = "Sửa công việc";
}


<form class="w-50 d-flex flex-column gap-2" id="update-form">
    <div class="mb-3 d-flex flex-column">
        <label class="form-label" asp-for="JobName">Công việc</label>
        <input type="hidden" asp-for="Id" id="jobId">
        <input type="text" class="form-control" id="jobInput" placeholder="Tên công việc" asp-for="JobName">
        <span asp-validation-for="JobName" class="text-danger"></span>

        <label for="statusJob" class="form-label mt-2">Trạng thái</label>
        <select class="form-select" title="isDoneJobSelect" asp-for="IsDone">
            <option value="true">Đã xong</option>
            <option value="false">Chưa xong</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Sửa</button>
    <a type="button" class="btn btn-outline-danger" asp-controller="Job" asp-action="Index">Quay lại</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

