@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<TodosModel>

<div class="d-flex w-50 mb-2 justify-content-end">
    <a class="btn btn-success" asp-action="Create" asp-controller="Home">Thêm công việc</a>
</div>

<div class="w-50">
    <table class="table table-dark table-bordered rounded table-hover user-select-none">
        <thead>
            <tr>
                <th scope="col" class="w-50 align-middle">Việc cần làm</th>
                <th scope="col" class="w-25 align-middle">Trạng thái</th>
                <th scope="col" class="w-25 align-middle">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model)
            {
                <tr class="align-middle">
                    <td>@job.Job</td>
                    <td>
                        @if (job.IsDone)
                        {
                            <span class="badge rounded-pill bg-success">Đã xong</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-danger">Chưa xong</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-controller="Home" asp-route-id="@job.Id"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            }
            @*<tr class="align-middle">
            <th scope="row">1</th>
            <td>Lau nhà</td>
            <td><span class="badge rounded-pill bg-danger">Chưa xong</span></td>
            <td>
            <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></button>
            </td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Quét nhà</td>
            <td><span class="badge rounded-pill bg-success">Đã xong</span></td>
            <td>
            <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash3-fill"></i></button>
            </td>
            </tr>*@
        </tbody>
    </table>
</div>
