@model Todos

<!-- Modal -->
<div class="modal fade" id="deleteJob-@Model.Id" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá công việc</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <form asp-action="Index" asp-controller="Delete" method="post">
                <input asp-for="@Model.Id" readonly type="hidden"/>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xoá công việc: @Model.Job ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>

