<!-- Modal -->
<div class="modal fade"
     id="delete-modal"
     tabindex="-1"
     aria-labelledby="deleteModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá công việc</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Đóng"></button>
            </div>
            <form id="delete-form">
                <input type="hidden" id="jobId" />
                <div class="modal-body">
                    <p class="delete-confirm">Bạn có chắc chắn muốn xoá công việc: </p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Huỷ
                    </button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>
